body, html {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}
body .ant-popover-inner-content {
    padding:0px!important;
    padding-top: 10px!important;
}

.a1 {
    background: red;
}

.main {
    background: red;
    display: flex;
}